<!doctype html>
<html lang="en">

<head>
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <main role="main" class="container">
        <h1 class="mt-5">{{name}}</h1>        
        <p>{{description}}</p>
    </main>
     

    <script>
        var strClass = "";
        $(document).ready(function(){ 
            
        });       
    </script>
</body>

</html>